body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F0F8FF;
  /*width: 60%;*/
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/*.animate-pic-div {
  width: 400px;
}*/

#animate-pics {
  display: flex;
}

.anime-food-pic {
  max-width: 15%;
  border-radius: 5px;
  margin-right: 5px;
}

.food-pic {
  max-width: 30%;
  border-radius: 5px;
  margin-right: 5px;
}

.articles-list {
  list-style-type: none;
  text-align: left;
}

.food-and-ingredients {
  display: flex;
  justify-content: space-around;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: bold;
}

.ingredients-list {
  /*border: 2px blue solid;*/
  text-align: left;
}

.process-list {
  text-align: left;
  /*border: 2px solid pink;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
@media screen and (max-width: 1050px) {
  .food-pic {
    border: solid 2px yellow;
    width: 50%;
    border-radius: 5px;
    margin-right: 5px;
  }
}*/

@media screen and (max-width: 1050px) {
  .food-and-ingredients {
    display: flex;
    flex-direction: column;
    /*border: solid 2px red;*/
  }

  .food-pic {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /*border: solid 2px orange;*/
  }

  .ingredients {
    margin-left: auto;
    margin-right: auto;
  }

  .process-list {
    /*border: solid 2px green;*/
    margin-left: auto;
    margin-right: auto;
  }

}
