body {
  margin: 0;
  padding: 0;
  background-color: #FFFAF0;
}

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  /*background-color: #F0F8FF;*/
  color: #006E5B;
  /*width: 60%;*/
  width: auto;
}

.search-bar {
  border-radius: 10px;
}

.search-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/*.animate-pic-div {
  width: 400px;
}*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.link-in-home {
  margin-right: 20px;
  transition: all 0.5s;
}

.link-in-home:hover {
  color: aqua;
  font-size: 20px;
}

#animate-pics {
  display: flex;
}

.anime-food-pic {
  max-width: 15%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  transition: all 0.5s;
}

.anime-food-pic:hover {
  width: 300px;
}

.food-pic {
  max-width: 30%;
  border-radius: 5px;
  margin-right: 5px;
}

.articles-list {
  list-style-type: none;
  text-align: left;
}

.food-and-ingredients {
  display: flex;
  justify-content: center;
  /*justify-content: space-around;*/
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

.section-title {
  font-weight: bold;
}

.ingredients-list {
  text-align: left;
}

/*
@keyframes movePics {
  0% { transform: translate(0, 0); }
  49% { transform: translate(calc(100vw - 200px), 0) rotate(45deg); }
  50% { transform: translate(calc(100vw - 200px), 0) rotate(45deg); }
  100% { transform: translate(0, 0); }
}

.anime-food-pic {
  transform: translate(0px, 0);
  animation: 20s infinite alternate movePics;
}
*/

/* .move1 {
  animation-name: movePics;
  animation-duration: 20s;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
@media screen and (max-width: 1050px) {
  .food-pic {
    border: solid 2px yellow;
    width: 50%;
    border-radius: 5px;
    margin-right: 5px;
  }
}*/

@media screen and (max-width: 1050px) {
  .food-and-ingredients {
    display: flex;
    flex-direction: column;
  }

  .food-pic {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .ingredients {
    margin-left: auto;
    margin-right: auto;
  }

  .process-list {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 455px) {
  .App {
    width: 300px;
  }

  .anime-food-pic {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  #animate-pics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
  }

}
